<!DOCTYPE html>
<html
  lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "navbar.html" . }}
    <div class="{{.Site.Param "bootstrap_container" }}">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-2 p-0 ">
          {{ partial "sidenav.html" . }}
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-8 px-md-4">
            {{ block "main" . }}{{ end }}
        </main>
        <div class="col-lg-2 cg-toc">
          <strong class="d-none d-md-block h6 my-2 ms-3">On this page</strong>
          <hr class="d-none d-md-block my-2 ms-3">
          {{- .TableOfContents }}
        </div>
      </div>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
