[data-bs-theme=light] {
    --cg-navbar-bg: var(--bs-secondary-bg);
    --cg-navbar-color: var(--bs-secondary-color);
    --cg-toc-active: var(--bs-indigo);
}

[data-bs-theme=dark] {
    --cg-navbar-bg: var(--bs-secondary-bg);
    --cg-navbar-color: var(--bs-secondary-color);
    --cg-toc-active: var(--bs-emphasis-color);
}

.cg-navbar {
    padding: 0.75rem 0;
    background-color: var(--cg-navbar-bg);
    color: var(--cg-navbar-color);
}
.cg-navbar .navbar-toggler,
.cg-navbar .nav-link,
.cg-navbar .nav-link.active,
.cg-navbar .cg-home-link,
.cg-navbar .cg-home-link:hover,
.cg-navbar .cg-home-link:visited {
    color: var(--cg-navbar-color);
}

.cg-navbar .nav-link.active {
    font-weight: bold;
}

#TableOfContents ul {
  list-style-type: none;
  padding-left: 0;
}

#TableOfContents ul ul {
    padding-left: 1rem;
}

#TableOfContents a {
    display: block;
    padding: 0.125rem 0 0.125rem 0.75rem;
    color: inherit;
    text-decoration: none;
    border-left: 0.125rem solid transparent;
}

#TableOfContents a:hover,
#TableOfContents a.active {
    color: var(--cg-toc-active);
    border-left-color: var(--cg-toc-active);
}

.cg-toc, .cg-sidenav {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 7rem);
    overflow-y: auto;
}

#doc-nav .cg-links-heading {
    color: var(--bs-emphasis-color);
}

#doc-nav .cg-links-link {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.125rem;
    color: var(--bs-body-color);
    text-decoration: none;
}

#doc-nav .cg-links-link.active {
    font-weight: 600;
}

#doc-nav .cg-links-link:hover, #doc-nav .cg-links-link:focus, #doc-nav .cg-links-link.active {
    color: var(--bs-emphasis-color);
    background-color: var(--cg-sidebar-link-bg);
}

code[class*=language-],
pre[class*=language-] {
    font-family: var(--bs-font-monospace);
    font-variant-ligatures: additional-ligatures;
}