{{ $currentPage := . }}
{{ $menuSettings := .Site.Param "menu" }}
{{ $navbar := $menuSettings.navbar }}
<nav class="navbar navbar-expand-lg navbar sticky-top cg-navbar">
  <div class="{{.Site.Param "bootstrap_container" }}">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto cg-home-link">
        {{- if $navbar.display_logo }}{{ partial "logo.html" . }}{{- end }}
        {{- if $navbar.display_title }}<span class="fs-4">{{ .Site.Title }}</span>{{- end }}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        {{ if not $currentPage.FirstSection.Params.standaloneMenu }}
        {{- range site.Menus.main }}
        <li class="nav-item {{ if .Page.Params.standaloneMenu }}d-none{{ end }}">
          {{ if $currentPage.IsMenuCurrent "main" . }}
          <a class="nav-link active" aria-current="page" href="{{ .URL }}"
            >{{ .Name }}</a
          >
          {{ else if $currentPage.HasMenuCurrent "main" . }}
          <a
            class="nav-link ancestor active"
            aria-current="true"
            href="{{ .URL }}"
            >{{ .Name }}</a
          >
          {{ else }}
          <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        </li>
        {{- end }}
        {{ end }}
      </ul>
      <div class="nav-item">
        {{- if $navbar.display_search }}
        <button type="button" id="searchButton" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#searchModal">
          <i class="bi bi-search"></i> Search
        </button>
        {{- end }}
      </div>
      <div class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
        <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
        <hr class="d-lg-none my-2 text-white-50">
      </div>
      <div class="nav-item dropdown">
        <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                id="bd-theme"
                type="button"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                data-bs-display="static"
                aria-label="Toggle theme (auto)">
          <i class="bi my-1 theme-icon-active bi-circle-half" data-cg-theme-icon="circle-half"></i>
          <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
              <i class="bi me-2 opacity-50 bi-sun-fill" data-cg-theme-icon="sun-fill"></i>
              Light
              <i class="bi ms-auto d-none bi-check2"></i>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
              <i class="bi me-2 opacity-50 bi-moon-stars-fill" data-cg-theme-icon="moon-stars-fill"></i>
              Dark
              <i class="bi ms-auto d-none bi-check2"></i>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
              <i class="bi me-2 opacity-50 bi-circle-half" data-cg-theme-icon="circle-half"></i>
              Auto
              <i class="bi ms-auto d-none bi-check2"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>




<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <input data-gc-search-input=""
              class="form-control"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
      </div>
      <div class="modal-body list-group" data-gc-search-results="">
      </div>
      <div class="modal-footer">
        Powered by <a href="https://lunrjs.com/" target="_blank">lunr.js</a>
      </div>
    </div>
  </div>
</div>