{{ $currentPage := . }}
{{ $menuSettings := .Site.Param "menu" }}
{{ $navbar := $menuSettings.navbar }}
<nav class="navbar navbar-expand-lg navbar sticky-top cg-navbar">
  <div class="{{.Site.Param "bootstrap_container" }}">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-white text-decoration-none">
        {{- if $navbar.display_logo }}{{ partial "logo.html" . }}{{- end }}
        {{- if $navbar.display_title }}<span class="fs-4">{{ .Site.Title }}</span>{{- end }}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        {{- range site.Menus.main }}
        <li class="nav-item">
          {{ if $currentPage.IsMenuCurrent "main" . }}
          <a class="nav-link active" aria-current="page" href="{{ .URL }}"
            >{{ .Name }}</a
          >
          {{ else if $currentPage.HasMenuCurrent "main" . }}
          <a
            class="nav-link ancestor active"
            aria-current="true"
            href="{{ .URL }}"
            >{{ .Name }}</a
          >
          {{ else }}
          <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        </li>
        {{- end }}
      </ul>
      <div class="nav-item">
        {{- if $navbar.display_search }}
        <button type="button" id="searchButton" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#searchModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg> Search
        </button>
        {{- end }}
      </div>
    </div>
  </div>
</nav>




<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <input data-gc-search-input=""
              class="form-control"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
      </div>
      <div class="modal-body list-group" data-gc-search-results="">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>