{{ $currentPage := . }} 
{{ $currentSection := site.GetPage $currentPage.Section}}

<div class="">
  {{- partial "inline/sidenav/walk.html" (dict "pages" $currentSection.Pages "currentPage" $currentPage)  }}
</div>

{{- define "partials/inline/sidenav/walk.html" }} 
{{- $pages := .pages }}
{{- $currentPage := .currentPage }}
<ul class="list-unstyled ps-0">
  {{ range $pages }}

  <li class="mb-1">
    <div class="d-inline-flex ps-1">
      <a class="nav-link" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </div>

    {{- if .Pages }}
    <div class="ps-3">
      {{- partial "inline/sidenav/walk.html" (dict "pages" .Pages "currentPage" $currentPage ) }}
    </div>
    {{- end }}
  </li>
  {{ end }}
</ul>
{{- end }}
