{{ $currentPage := . }} 
{{ $currentSection := site.GetPage $currentPage.Section}}

<nav id="doc-nav" class="">
  {{- partial "inline/sidenav/walk.html" (dict "pages" $currentSection.Pages "currentPage" $currentPage)  }}
</nav>

{{- define "partials/inline/sidenav/walk.html" }} 
{{- $pages := .pages }}
{{- $currentPage := .currentPage }}
<ul class="list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
  {{ range $pages }}

  <li class="py-2">
    <strong class="d-flex w-100 align-items-center fw-semibold">
      {{- if .Params.icon -}}
      <i {{- if .Params.icon_color }} style="color: var(--bs-{{ .Params.icon_color }});"{{- end }} class="bi-{{ .Params.icon }} me-2"></i>
      {{- end -}}
      {{ .Title }}
    </strong>
    {{- if .Pages }}
    <ul class="list-unstyled fw-normal pb-2 small">
      {{ range .Pages }}
      <li>
        <a href="{{ .RelPermalink }}" class="cg-links-link d-inline-block rounded {{ if eq $currentPage . }}active{{ end }}">
          {{ .Title }}
        </a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
  </li>
  {{ end }}
</ul>
{{- end }}
